
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    min-height: 100vh;

    background: linear-gradient(135deg, #ff9a9e, #fad0c4);

    display: flex;
    justify-content: center;

    font-family: Arial, sans-serif;
    text-align: center;

    overflow-y: auto;
    padding: 40px 15px;
}


.card {
    background: rgba(255, 255, 255, 0.9);
    padding: 35px 25px;
    border-radius: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


.card h1 {
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.card p {
    margin-bottom: 25px;
    font-size: 1.1rem;
}


.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
}


#yesBtn {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}


#noBtn {
    background: #777;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;

    position: relative;
    transition: 0.2s;
}


#yesBtn:hover {
    background: #ff1c4b;
}


.heart {
    position: fixed;
    bottom: -20px;
    font-size: 24px;
    color: #ff4d6d;
    animation: floatUp linear forwards;
    pointer-events: none;
    opacity: 0.8;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) scale(1.5);
        opacity: 0;
    }
}

.container {
    background: rgba(255,255,255,0.35);
    padding: 35px 25px;
    border-radius: 25px;

    backdrop-filter: blur(12px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);

    width: 100%;
    max-width: 650px;

    animation: fadeIn 1.2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.gallery img {
    width: 100%;
    max-width: 250px;

    border-radius: 20px;
    margin-top: 25px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}
